@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0 98px 0 98px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 32px 12px 32px;
  border-radius: 26px;
  cursor: pointer;
  display: inline-flex;
}

.button.is-loading {
  display: inline-flex;
  align-items: center;
}

.button.is-loading::after {
  content: "";
  display: inline-block;
  margin-left: 9px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(36, 36, 36, 0.25);
  border-bottom-color: #242424;
  border-radius: 50%;
  flex-shrink: 0;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: border-color 0.3s ease;
}

.white-button {
  color: #2d3440;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
}

.white-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.white-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.white-button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.white-button:disabled {
  color: #b9b9b9;
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: none;
  pointer-events: none;
}

.pink-button {
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: none;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
}

.pink-button:hover {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #ff2f64;
}

.pink-button:focus-visible {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button:active {
  background-color: #feafc3;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  box-shadow: none;
  pointer-events: none;
}

.pink-button.is-loading::after {
  border: 2px solid rgba(252, 252, 252, 0.25);
  border-bottom-color: #fcfcfc;
}

.pink-button:hover.is-loading::after {
  border: 2px solid rgba(36, 36, 36, 0.25);
  border-bottom-color: #242424;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  color: #000000;
}

/* HEADER */

.page-header {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 24px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
}

.header-navigation-list {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 50%;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  display: inline-flex;
  padding: 8px 16px;
  margin: 0;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: #2d3440;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-color: transparent;
}

.header-logo-link {
  display: flex;
  align-items: center;
  width: 137px;
  height: 56px;
  line-height: 16px;
  overflow: hidden;
  margin-right: 16px;
  text-decoration: none;
}

.header-logo-link:hover {
  opacity: 0.6;
}

.header-logo-link:active {
  opacity: 0.3;
}

.header-navigation-list {
  display: flex;
  align-items: flex-start;
  flex-grow: 0;
  padding: 10px 0 10px 0;
  max-width: 450px;
  row-gap: 10px;
  list-style-type: none;
}

.subcatalog-container {
  position: relative;
}

.catalog-button {
  background-color: transparent;
  border: 2px solid transparent;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 36px 6px 14px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  outline: none;
  align-self: start;
}

.catalog-button::before {
  content: "";
  position: absolute;
  background-color: #2d3440;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  mask: url("../images/header-arrow-down.svg");
  -webkit-mask: url("../images/header-arrow-down.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.catalog-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.catalog-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: #2d3440;
}

.catalog-button:active {
  background-color: #fcfcfc;
  border-color: transparent;
}

.subcatalog-container:focus-within .catalog-button:not(:focus) {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.subcatalog-container:focus-within .catalog-button:not(:focus)::before {
  background-color: #fcfcfc;
  transform: rotate(-90deg) translateX(calc(50% - 2px));
}

.subcatalog-container:focus-within .catalog-button:not(:focus):hover {
  background-color: #ff4a78;
  color: #fcfcfc;
  border-color: transparent;
  opacity: 0.6;
}

.subcatalog-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 0;
}

.pop-up-container {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  z-index: 3;
}

.subcatalog-link {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 8px 13px 8px 16px;
  min-width: 138px;
  flex-wrap: nowrap;
  align-items: flex-start;
  text-decoration: none;
}

.subcatalog-link:hover,
.subcatalog-link:focus-visible {
  background-color: #ffcbd8;
}

.subcatalog-link:active {
  background-color: #ff7799;
}

.subcatalog-current {
  position: relative;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.subcatalog-current::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 16px;
  width: calc(100% - 32px);
  height: 1px;
  background-color: #b9b9b9;
}

.subcatalog-container:focus-within .subcatalog-list {
  display: flex;
  flex-direction: column;

}

.user-list {
  max-width: 450px;
  justify-content: flex-end;
  padding: 12px 0 12px 0;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.user-item {
  padding: 0;
  position: relative;
  align-self: start;
  display: flex;
  text-decoration: none;
}

.user-button {
  display: flex;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  margin-right: 16px;
}

.user-button::before {
  content: "";
  position: absolute;
  background-color: #2d3440;
  transition: background-color 0.3s ease;
}

.user-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.user-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: #2d3440;
}

.user-button:active {
  background-color: #fcfcfc;
  border-color: transparent;
}

.user-item:focus-within .user-button:not(:focus) {
  background-color: #ff4a78;
  color: #fcfcfc;
  border-color: transparent;
}

.user-item:focus-within .user-button:not(:focus)::before {
  background-color: #fcfcfc;
}

.user-item:focus-within .user-button:not(:focus):hover {
  background-color: #ff4a78;
  color: #fcfcfc;
  border-color: transparent;
  opacity: 0.6;
}

.user-item:focus-within .user-button:not(:focus):hover::before {
  background-color: #fcfcfc;
}

.user-phone-number {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  padding: 6px 0 6px 0;
  margin-right: 16px;
  text-decoration: none;
}

.user-phone-number:hover {
  opacity: 0.6;
}

.user-phone-number:active {
  opacity: 0.3;
}

.search-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  align-self: start;
}

.search-button::before {
  content: "";
  position: absolute;
  background-color: #2d3440;
  width: 16px;
  height: 16px;
  top: 7px;
  left: 7px;
  mask: url("../images/header-search.svg");
  -webkit-mask: url("../images/header-search.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.search-container {
  top: calc(100% + 4px);
  right: 0;
  padding: 24px 16px 24px 16px;
  width: 356px;
}

.search-item:focus-within .search-container {
  display: block;
}

.input {
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  color: #2d3440;
}

.input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  opacity: 1;
}

.search-input {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  height: 48px;
  padding: 14px 16px 14px 16px;
}

.search-input::-webkit-search-cancel-button {
  display: none;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  appearance: none;
}

.input:hover {
  border-color: #2d3440;
}

.input:focus-visible {
  border-color: #2d3440;
  outline: 1px solid #2d3440;
}

.input:disabled {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: rgba(45, 52, 64, 0.65);
  pointer-events: none;
}

.input-error {
  border-color: #ea5454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  color: #2d3440;
}

.input-error:hover {
  border-color: #ea5454;
  outline: 1px solid #ea5454;
}

.search-cancel-button {
  display: none;
  position: absolute;
  top: 40px;
  right: 29px;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.search-cancel-button::before {
  content: "";
  position: absolute;
  background-image: url("../images/header-search-cross.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.search-input:not(:placeholder-shown) + .search-cancel-button {
  display: block;
}

.search-cancel-button:hover {
  opacity: 0.6;
}

.search-cancel-button:active {
  opacity: 0.3;
}

.login-button {
  min-height: 32px;
  padding: 4px 14px 4px 36px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  align-items: center;
  align-self: start;
  min-width: 88px;
}

.login-button::before {
  content: "";
  position: absolute;
  background-color: #2d3440;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 16px;
  mask: url("../images/header-login.svg");
  -webkit-mask: url("../images/header-login.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.login-container {
  flex-wrap: wrap;
  top: calc(100% + 4px);
  right: 0;
  width: 420px;
  padding: 48px 48px 52px 48px;
}

.login-item:focus-within .login-container {
  display: flex;
}

.login-item {
  min-width: 88px;
}

.login-title {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0 0 32px 0;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
}

.login-input {
  width: 100%;
  height: 48px;
  padding: 14px 16px 14px 16px;
  margin: 0 0 16px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.login-input:last-of-type {
  margin: 0 0 32px 0;
}

.login-form-button {
  margin: 0 23px 0 0;
  align-self: start;
}

.login-container-link {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.login-help {
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.login-help::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #2d3440;
}

.login-help:hover {
  opacity: 0.6;
}

.login-help:active {
  opacity: 0.3;
}

.cart-button {
  min-height: 32px;
  padding: 4px 14px 4px 36px;
  border-radius: 30px;
  align-items: center;
  align-self: start;
  margin: 0;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  flex-grow: 1;
}

.cart-button::before {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  mask: url("../images/header-cart.svg");
  -webkit-mask: url("../images/header-cart.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.cart-description {
  display: none;
}

.cart-empty .cart-empty-description {
  display: inline;
}

.cart-empty-text {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.cart-full .cart-full-description {
  display: inline;
}

.cart-full {
  min-width: 115px;

}

.cart-empty {
  min-width: 140px;

}

.cart-container {
  min-width: 288px;
  top: calc(100% + 4px);
  right: 0;
}

.cart-empty-container {
  display: none;
  padding: 48px 0 48px 0;
}

.cart-empty:focus-within .cart-empty-container {
  display: flex;
}

.cart-full-container {
  display: none;
  padding: 48px;
  flex-wrap: wrap;
  width: 441px;
}

.cart-full:focus-within .cart-full-container {
  display: flex;
}

.cart-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 100%;
}

.cart-empty-container .cart-title {
  text-align: center;
}

.cart-full-container .cart-title {
  margin: 0 0 32px 0;
}

.cart-product-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 64px 0;
  position: relative;
}

.cart-product-list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
  bottom: -32px;
  left: 0;
}

.cart-product-item {
  display: flex;
  align-items: center;
  margin: 0 0 24px 0;
}

.cart-product-item:last-of-type {
  margin: 0;
}

.cart-image-container {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 16px 0 0;
}

.cart-product-link {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0 14px 0 0;
}

.cart-product-title {
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin: 0 0 4px 0;
  text-decoration: none;
}

.cart-product-title:hover {
  opacity: 0.6;
}

.cart-product-title:active {
  opacity: 0.3;
}

.cart-product-text {
  font-size: 14px;
  color: #b9b9b9;
}

.cart-product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  width: 90px;
  margin: 0 13px 0 0;
}

.delete-product-button {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  background-image: url("../images/header-cart-delete-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}

.delete-product-button:hover {
  opacity: 0.7;
}

.delete-product-button:active {
  opacity: 0.4;
}

.cart-product-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  column-gap: 20px;
}

.total-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
}

/* MAIN */

.main-container {
  flex-grow: 1;
}

.page-main {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

/* SLIDER */

.slider-wrapper {
  position: relative;
}

.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  column-gap: 38px;
}

.slider-item {
  display: flex;
}

.current-slide {
  order: -1;
}

.slider-content {
  display: none;
  width: 526px;
  padding: 136px 10px 112px 70px;
}

.current-slide .slider-content {
  display: block;
}

.slider-content-title {
  font-size: 36px;
  color: #2d3440;
  margin: 0 0 24px 0;
}

.slider-content-description {
  margin: 0 0 48px 0;
  font-size: 18px;
  line-height: 24px;
}

.slider-image-wrapper {
  position: relative;
  width: 100px;
  height: 150px;
  display: flex;
  opacity: 0.4;
  justify-content: center;
  margin: 204px 0 0 0;
}

.slider-image-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.5);
  transform: translate(-50%, -50%);
}

.slider-image-wrapper img {
  z-index: 1;
}

.current-slide .slider-image-wrapper {
  width: 367px;
  height: 100%;
  margin: 0;
  opacity: 1;
}

.current-slide .slider-image-wrapper::before {
  width: 327px;
  height: 327px;
}

.slider-button-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 258px;
  left: 527px;
  display: flex;
  column-gap: 287px;
  z-index: 2;
}

.slider-button {
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  position: relative;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.slider-button::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask: url("../images/arrow.svg");
  -webkit-mask: url("../images/arrow.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: #fcfcfc;
  transition: background-color 0.3s ease;
}

.slider-button:hover {
  background-color: #fcfcfc;
}

.slider-button:hover::before {
  background-color: #2d3440;
}

.slider-button:focus-visible {
  border-color: #2d3440;
}

.slider-button:focus-visible::before {
  background-color: #2d3440;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.slider-button:active::before {
  background-color: #2d3440;
}

.slider-button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.slider-button-previous {
  transform: rotate(180deg);
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 8px;
  max-width: 40%;
  align-items: flex-end;
}

.slider-pagination-button {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid transparent;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
}

.slider-pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #fcfcfc;
}

.slider-pagination-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #2d3440;
}

.slider-pagination-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 12px;
  align-items: center;
  align-self: flex-start;
  max-width: 40%;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 2px solid rgba(252, 252, 252, 0.4);
  position: relative;
  transition: border-color 0.3s ease;
  outline: none;
  text-decoration: none;
}

.social-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.social-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2d3440;
  border-radius: 50%;
  transform: scale(0.85);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.social-link:hover::after {
  opacity: 1;
}

.social-link:focus-visible {
  border-color: #2d3440;
}

.social-link:focus-visible::after {
  opacity: 1;
}

.social-link:active {
  border: 2px solid rgba(252, 252, 252, 0.2);
}

.social-link:active::before {
  background-color: #fed5df;
}

.social-link:active::after {
  opacity: 0.5;
}

.social-telegram::before {
  mask: url("../images/telegram.svg");
  -webkit-mask: url("../images/telegram.svg");
}

.social-vk::before {
  mask: url("../images/vk.svg");
  -webkit-mask: url("../images/vk.svg");
}

.social-youtube::before {
  mask: url("../images/youtube.svg");
  -webkit-mask: url("../images/youtube.svg");
}

/* FOR-FREE */

.for-free-head {
  text-align: center;
  margin: 0 0 55px 0;
}

.for-free-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.for-free-item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 570px;
  min-height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px 230px 36px 36px;
  row-gap: 28px;
  align-items: flex-start;
  margin-top: auto;
}

.for-free-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 219px;
  height: 268px;
  background-repeat: no-repeat;
}

.free-raspberry::before {
  background-image: url("../images/raspberries-for-free.png");
}

.free-marshmallow::before {
  background-image: url("../images/marshmallow-for-free.png");
}

.for-free-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.for-free-description {
  color: #2d3440;
  margin: 0;
}

/* CATALOG */

.main-catalog-title {
  text-align: center;
  margin: 0 0 56px 0;
  text-decoration: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  column-gap: 30px;
  row-gap: 40px;
}

.catalog-item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.catalog-item::before {
  content: "";
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 100%;
  height: calc(100% - 51px);
  left: 0;
  bottom: 0;
  z-index: -1;
}

.catalog-image-wrapper {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
  display: flex;
  align-self: center;
}

.catalog-text-wrapper {
  padding: 16px 40px 24px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-title {
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 8px 0;
  color: #2d3440;
  text-decoration: none;
}

.catalog-title:hover {
  opacity: 0.6;
}

.catalog-title:active {
  opacity: 0.3;
}

.catalog-description {
  text-align: center;
  margin: 0 0 16px 0;
}

.catalog-product-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.catalog-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  max-width: 150px;
}

.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border: 2px solid transparent;
  position: relative;
  outline: none;
}

.add-to-cart-button::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  mask: url("../images/header-cart.svg");
  -webkit-mask: url("../images/header-cart.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.add-to-cart-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #ff2f64;
}

.add-to-cart-button:hover::before {
  background-color: #2d3440;
}

.add-to-cart-button:focus-visible {
  background-color: #ff2f64;
  border-color: #2d3440;
}

.add-to-cart-button:focus-visible::before {
  background-color: #fcfcfc;
}

.add-to-cart-button:active {
  background-color: #ffcbd8;
  border-color: #ff2f64;
}

.add-to-cart-button:active::before {
  background-color: #2d3440;
}

.add-to-cart-button:disabled {
  background-color: #b9b9b9;
  border-color: transparent;
  pointer-events: none;
}

.add-to-cart-button:disabled::before {
  background-color: #565c66;
}

/* ADVANTAGES */

.advantages {
  padding: 80px 64px 80px 64px;
  position: relative;
  background-image: url("../images/background-waffle.jpg");
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% -10%;
  border-radius: 16px;
  z-index: 1;
}

.advantages::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: 24px;
  left: 24px;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  border-radius: 16px;
  z-index: -1;
}

.advantages-title {
  text-align: center;
  margin: 0 0 56px 0;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 31px;
}

.advantages-item {
  padding: 0 0 0 64px;
  margin: 0;
  position: relative;
}

.advantages-production::before {
  content: "";
  position: absolute;
  background-image: url("../images/advantages-production.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.advantages-farm::before {
  content: "";
  position: absolute;
  background-image: url("../images/advantages-farm.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.advantages-ingredient::before {
  content: "";
  position: absolute;
  background-image: url("../images/advantages-ingredient.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.advantages-delivery::before {
  content: "";
  position: absolute;
  background-image: url("../images/advantages-delivery.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

/* BLOG-AND-SUBSCRIBE */

.blog-and-subscribe {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.blog {
  width: 570px;
  background-image: url("../images/background-news.jpg");
  background-color: #fefefe;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 32px 230px 67px 32px;
}

.blog-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  margin: 0 0 12px 0;
}

.blog-title-link {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.blog-title-link:hover {
  opacity: 0.7;
}

.blog-title-link:active {
  opacity: 0.4;
}

.subscribe {
  width: 570px;
  background-image: url("../images/background-subscription.jpg");
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% -10%;
  border-radius: 16px;
  padding: 32px;
  position: relative;
  z-index: 1;
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #ffffff;
  border-radius: 16px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  z-index: -1;
}

.subscribe-description {
  margin: 0 0 42px 0;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 14px;
}

.subscribe-form-input {
  min-width: 250px;
  height: 48px;
  padding: 0 0 0 16px;
  flex-grow: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.subcatalog-button {
  flex-grow: 1;
}

/* DELIVERY */

.delivery {
  display: flex;
  background-color: #f6f6f6;
  background-image: url("../images/background-delivery.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
  position: relative;
}

.delivery-container {
  padding-top: 170px;
  padding-left: 100px;
}

.delivery-title {
  margin: 0 0 24px 0;
}

.delivery-description {
  margin: 0;
}

.delivery-details {
  padding: 40px;
  padding-bottom: 42px;
  margin: 64px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 500px;
  align-self: start;
}

.delivery-details-description {
  margin-top: 0;
  margin-bottom: 32px;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 16px;
  justify-content: center;
}

.delivery-description {
  margin: 0 0 32px 0;
}

.data-label,
.phone-label,
.address-label {
  display: flex;
  flex-direction: column;
  color: #2D3440;
  margin: 0;
  position: relative;
}

.data-label {
  width: 117px;
}

.phone-label {
  width: 287px;
}

.address-label {
  width: 420px;
  margin: 0 0 12px 0;
}

.label-description {
  width: fit-content;
  max-width: 100%;
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding: 0 16px 0 0;
}

.data-description::before,
.address-description::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 14px;
  height: 14px;
  background-image: url("../images/delivery-tooltip.svg");
  background-repeat: no-repeat;
}

.delivery-input {
  height: 48px;
  padding: 0 0 0 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.tooltip-content {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  z-index: 2;
  width: max-content;
  padding: 10px 8px 10px 8px;
  max-width: 180px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  top: -7px;
  left: calc(100% + 9px);
}

.data-description:hover .tooltip-content {
  display: block;
}

.address-description:hover .tooltip-content {
  display: block;
}

.tooltip-content::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #fcfcfc;
  border: 1px solid #b9b9b9;
  top: 11px;
  left: -6px;
  transform: rotate(45deg);
}

.tooltip-content::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 16px;
  background-color: #fcfcfc;
  top: 8px;
  left: 0;
}

.delivery-submit-button {
  align-self: center;
  margin: auto;
}

/* CONTACTS */

.contacts {
  display: flex;
  padding: 64px;
  background-image: url("../images/background-feedback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f6f6f6;
  border-radius: 16px;
}

.contacts-container {
  padding: 40px 40px 42px 40px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 343px;
}

.contacts-phone {
  text-decoration: none;
}

.contacts-title,
.contacts-phone-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin: 0 0 12px 0;
}

.contacts-address,
.contacts-phone {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #2d3440;
}

.contacts-phone:hover {
  opacity: 0.7;
}

.contacts-phone:active {
  opacity: 0.4;
}

.contacts-address {
  margin: 0 0 24px 0;
}

.contacts-working-time {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 32px 0;
}

.modal-link {
  align-self: center;
}

/* FOOTER */

.page-footer {
  display: grid;
  grid-template-columns: 353px 451px 367px;
  padding: 48px 0;
  width: 1170px;
  margin: 0 auto;
  margin-top: auto;
}

.for-providers {
  justify-self: flex-start;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: auto auto;
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  row-gap: 8px;
  max-width: 370px;
}

.for-providers-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 0 0 0 24px;
  margin: 0;
  position: relative;
}

.for-providers-title::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
}

.for-providers-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 0 0 0 24px;
  text-decoration: none;
}

.for-providers-link:hover {
  opacity: 0.6;
}

.for-providers-link:active {
  opacity: 0.3;
}

.footer-logo-container {
  justify-self: right;
}

.footer-logo {
  display: flex;
  align-items: center;
  width: 93px;
  height: 27px;
  line-height: 16px;
  margin: 0 0 14px 0;
  overflow: hidden;
}

.footer-logo:hover {
  opacity: 0.7;
}

.footer-logo:active {
  opacity: 0.4;
}

.footer-logo-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  margin: 0;
}

.footer-logo-link {
  color: inherit;
  text-decoration: underline;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:active {
  opacity: 0.3;
}

/* CATALOG */

.page-catalog {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* CATALOG-HEATING */

.catalog-heading {
  margin: 30px 0 40px 0;
}

.breadcrumbs-list {
  list-style-type: none;
  margin: 0 0 16px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  row-gap: 8px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -23px;
  width: 12px;
  height: 12px;
  background-image: url("../images/catalog-chevrons-right.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-of-type:after {
  display: none;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  position: relative;
  text-decoration: none;
}

.breadcrumbs-link:not(.current-breadcrumbs-link):hover {
  opacity: 0.7;
}

.breadcrumbs-link:not(.current-breadcrumbs-link):active {
  opacity: 0.4;
}

.current-breadcrumbs-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2d3440;
  bottom: -2px;
  left: 0;
}

.catalog-heating-title {
  color: #2d3440;
}

/* CATALOG-FILTER */

.catalog-filter {
  margin: 0 0 44px 0;
}

.catalog-filter-form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.catalog-filter-container {
  display: flex;
  column-gap: 24px;
  row-gap: 10px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 0 0 8px 0;
  padding: 0 0 0 16px;
}

.catalog-filter-title input {
  width: 25.5px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #2d3440;
  background-color: transparent;
  border: none;
  outline: none;
}

.catalog-filter-title input:hover {
  background-color: rgba(252, 252, 252, 0.3);
}

.catalog-filter-title input:focus-visible {
  background-color: #fcfcfc;
}

.catalog-filter-title input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 10px;
  list-style-type: none;
  padding: 8px 24px 8px 24px;
  margin: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.catalog-select {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid transparent;
  width: 196px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  -webkit-appearance: none;
  appearance: none;
  padding: 0 30px 0 14px;
  border-radius: 20px;
  background-image: url("../images/header-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 165px center;
  outline: none;
}

.catalog-select:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.catalog-select:focus {
  background-color: rgba(252, 252, 252, 0.4);
  border-color: #fcfcfc;
}

.range-scale {
  display: flex;
  position: relative;
  width: 196px;
  padding: 10px 16px 12px 16px;
  z-index: 1;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale::before {
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #565c66;
  opacity: 0.3;
  top: 17px;
  left: 16px;
  z-index: -1;
}

.range-scale::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 2px;
  background-color: #565c66;
  top: 17px;
  left: 56px;
  z-index: -1;
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
  padding: 2px 0 0 0;
}

.min-price {
  transform: translateX(26px);
}

.max-price {
  transform: translateX(86px);
}

.range-toggle {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #fcfcfc;
  border: 4px solid #2d3440;
  outline: 2px solid #2d3440;
  border-radius: 50%;
  padding: 0;
}

.range-toggle:hover {
  background-color: #2d3440;
  border-color: #fcfcfc;
  outline-color: #fcfcfc;
}

.range-toggle:focus-visible {
  background-color: #2d3440;
  border-color: #fcfcfc;
  outline-color: #2d3440;
}

.range-toggle:active {
  background-color: #2d3440;
  border-color: #2d3440;
  outline-color: #2d3440;
}

.radio-label {
  display: flex;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 0 0 0 24px;
}

.radio-description::before {
  content: "";
  position: absolute;
  background-color: transparent;
  border: 1.5px solid #2d3440;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 2px;
  left: 0;
}

.radio-input:checked + .radio-description::after {
  content: "";
  position: absolute;
  background-color: #2d3440;
  background-size: 6px 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 2px;
  left: 0;
  transform: scale(0.4);
}

.radio-input:hover + .radio-description::before,
.radio-input:focus-visible + .radio-description::before {
  border-color: #fcfcfc;
}

.radio-input:hover + .radio-description::after,
.radio-input:focus-visible + .radio-description::after {
  background-color: #fcfcfc;
}

.radio-input:disabled + .radio-description::before {
  border-color: #2d3440;
  opacity: 0.5;
}

.radio-input:disabled + .radio-description::after {
  background-color: #2d3440;
  opacity: 0.5;
}

.topping-container {
  column-gap: 18px;
}

.topping-container .catalog-filter-list {
  padding: 10px 24px 10px 24px;
}

.checkbox-description::before {
  content: "";
  position: absolute;
  background-color: #2d3440;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  -webkit-mask: url("../images/checkbox.svg");
  mask: url("../images/checkbox.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.radio-input:checked + .checkbox-description::before {
  content: "";
  position: absolute;
  background-color: #2d3440;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  -webkit-mask: url("../images/check-on.svg");
  mask: url("../images/check-on.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.radio-input:hover + .checkbox-description::before,
.radio-input:focus-visible + .checkbox-description::before {
  background-color: #fcfcfc;
}

.radio-input:disabled + .checkbox-description::before {
  background-color: #2d3440;
  opacity: 0.5;
}

.filter-button {
  align-self: start;
  margin: 30px 0 0 0;
  padding: 8px 52px 8px 52px;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #fcfcfc;
  border: none;
  transition: background-color 0.3s ease, outline-color 0.3s ease;
}

.filter-button:hover {
  background-color: #fcfcfc;
  outline-color: rgba(252, 252, 252, 0.3);
}

.filter-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #2d3440;
}

.filter-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline-color: rgba(252, 252, 252, 0.5);
}

.filter-button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* CATALOG-PRODUCTS */

.catalog-products {
  margin: 0 0 57px 0;

}

/* PAGINATION */

.catalog-pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 0 81px 0;
  position: relative;
}

.catalog-pagination::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(252, 252, 252, 0.3);
  bottom: -81px;
  left: 0;
}

.button-show-more {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: start;
  transform: translateX(-8px);
}

.pagination {
  grid-column: 3 / -1;
  justify-self: right;
  display: flex;
  align-items: center;
  padding: 0;
  column-gap: 8px;
}

.catalog-pagination-button {
  width: 16px;
  height: 16px;
  position: relative;
  text-decoration: none;
}

.catalog-pagination-button::before {
  content: "";
  position: absolute;
  background-color: #2d3440;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-mask: url("../images/arrow.svg");
  mask: url("../images/arrow.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.catalog-pagination-button-prev::before {
  transform: rotate(180deg);
}

.catalog-pagination-button:hover {
  opacity: 0.7;
}

.catalog-pagination-button:active {
  opacity: 0.4;
}

.catalog-pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  max-width: 300px;
}

.catalog-pagination-link {
  line-height: 20px;
  color: #2d3440;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50px;
  background-color: transparent;
  border: 1.5px solid transparent;
  outline: none;
  text-decoration: none;
}

.catalog-pagination-link-current {
  background-color: #fcfcfc;
  pointer-events: none;
}

.catalog-pagination-link:not(.catalog-pagination-link-current):hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.catalog-pagination-link:not(.catalog-pagination-link-current):focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #2d3440;
}

.catalog-pagination-link:not(.catalog-pagination-link-current):active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: #fcfcfc;
}

.catalog-pagination-link-disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* MODAL */

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 10;
}

.modal-show {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  background: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 570px;
  padding: 64px 64px 66px 64px;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../images/header-search-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  cursor: pointer;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.modal-input {
  width: 442px;
  height: 48px;
  margin: 0 0 16px 0;
  padding: 14px 16px 14px 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.modal-textarea {
  width: 442px;
  height: 149px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  margin: 0 0 32px 0;
  padding: 14px 16px 14px 16px;
  resize: none;
}

.modal-textarea::placeholder {
  color: #b9b9b9;
  opacity: 1;
}

/* KEYFRAMES */

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
